.footer{
  height: 90px;
  background-color: #2f5167;
  text-align: center;
  color: #fff;

}
.lesson-icon {
  position: relative;
  font-size: 20px;
  padding: 20px 20px;
}
.lesson {
  float: left;
  width: 33.33333%;
}
