.footer{
  height: 90px;
  background-color: #f7f7f7;
  text-align: center;

}
.lesson-icon {
  position: relative;
  font-size: 20px;
  padding: 20px 20px;
}
.lesson {
  float: left;
  width: 33.33333%;
}
